.aboutme-container
{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 200px;
    min-height: 500px;
    justify-content: center;
}

.aboutme-title
{
    text-align: center;
}

.aboutme-info
{
    overflow: hidden;
}
.aboutme-technologies
{
    margin-right: 30px;
    overflow: hidden;
}

.aboutme-description
{
    font-size: 18px;
}

.aboutme-description-paragraph
{
    margin: 10px 0;
}