.aboutme-container
{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 200px;
    min-height: 500px;
}

.aboutme-title
{
    text-align: center;
}

.aboutme-technologies
{
    margin-right: 30px;
}

.aboutme-description
{
    font-size: 18px;
}

.aboutme-description-paragraph
{
    margin: 10px 0;
}