.carousel {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    padding-left: 30px;
    width: 100%;
    position: relative;
    margin-right: 202px;
    background-color: transparent;
    scroll-snap-type: both mandatory;
  }
  
  .carousel__container {
    display: flex;
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    white-space: nowrap;
    margin: 30px 0px;
    padding-bottom: 10px;
  }
  
  .carousel__container:hover .carousel-item {
    opacity: 0.3;
  }
  
  .carousel__container:hover .carousel-item:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }

  .carousel-description
  {
   font-weight: bold;   
  }
  
  .carousel-description-container
  {
      display: flex;
      justify-content: center;
  }
  
  .carousel-image-container
  {

  }

  .carousel-image
  {
    width:200px;
    height:180px;
    object-fit: cover;
    overflow: hidden;
    margin: 30px;
  }

  .html-image
  {
    object-position: 50% 140%;
  }

  .css-image
  {
    width: 170px;
  }
  .github-image
  {
    border-radius: 50%;
    height: 200px;
  }

  .git-image
  {
    width: 190px;
  }

  .jest-image
  {
    width: 162px;
    height: 180px;
    padding-top: 8px;
  }

  .jest-container
  {
    margin-bottom: 4px;
  }

  .github-image-container
  {
    background-position-x: center;
    border-radius: 50%;
    width: 200px;
    height: 184px;
    background-image: url("../../images/github.png");
    background-position-y: 65%;
    background-size: 400px;
    margin: 30px 20px 0 20px
  }

  .grow 
  {
    transition: all .2s ease-in-out;
  }

  .grow:hover
  { 
    transform: scale(1.1);
  }

.github-description
{
  padding-top: 30px;
}