*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body
{}

.background-image-home
{
    background-image: url("../../images/hiroto2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 0 15px;
}

.white-font
{
    color: white;
}

